<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <p th:text="${person.getId()}">value</p>
    <p th:text="${person.getName()}">value</p>
    <p th:text="${person.getSecondName()}">value</p>
    <p th:text="${person.getSurname()}">value</p>
    <p th:text="${person.getAge()}">value</p>
    <div th:if="${!book.isEmpty()}">
        <p>Человек не взял ни одной книги</p>
        <hr>
    </div>
    <div th:if="${!book.isEmpty()}">
        <hr>
        <p>Книги:</p>
        <hr>
        <table th:each="book : ${books}">
            <tr th:text="${book.getName() + ' ' + book.getAuthor() + ' ' + book.getEar()}">Книга</tr>
        </table>
    </div>

    <form th:method="GET" th:action="@{/people/{id}/edit(id = person.getId())}">
        <input type="submit" value="Редактировать">
    </form>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>