<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <p th:text="${person.getId()}">value</p>
    <p th:text="${person.getName()}">value</p>
    <p th:text="${person.getSecondName()}">value</p>
    <p th:text="${person.getSurname()}">value</p>
    <p th:text="${person.getAge()}">value</p>

    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>

    <form th:method="Delete" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>